@import 'mixins'
@import 'variables'
    
.bar
    background: $cor-azul
    padding: 5px 0
    a
        color: #8DA7BE
        font-size: .8rem
        display: flex
        align-items: center
        @include for-tablet
            font-size: .61rem
    hr
        width: 20px
        margin: 0
        border: none
    img
        margin: 0 3px
    .d-flex
        @include for-phone
            justify-content: center !important
            margin: 5px 0
    @include for-phone-only
        display: none
