@import 'mixins.sass'

.bar2
    background: #f0f0f0
    padding: 5px 0 0
    a
        font-size: 1.1rem
        color: #397BBF
        margin-right: 8px
        display: inline-block
        min-height: 23px
        img
            display: inline-block
            vertical-align: middle
        @include for-tablet-landscape
            font-size: .8rem
        @include for-tablet
            font-size: .8rem
    .d-flex
        & > div
            min-width: 120px
            @include for-phone
                margin: 20px 0
        & > a
            @include for-tablet-landscape
                margin-right: 20px
        @include for-phone
            display: block !important
        @include for-phone-only
            text-align: center