@import 'variables.sass'
@import 'extends.sass'
@import 'mixins.sass'
    
.bar3
    background: #397BBF
    padding: 30px 0
    form
        background: url(../img/mail.png) no-repeat left center
        padding-left: 90px
        min-height: 68px
        h3
            margin-bottom: 15px
            text-indent: 15px
        input[type=text]
            width: 270px
            height: 38px
            line-height: 38px
            border: 2px solid #ffffff
            background: none
            border-radius: 5px
            font-size: .8rem
            @extend %text-center
            @extend %color-white
            &::placeholder
                @extend %color-white
            @include for-tablet-landscape
                width: 205px
            @include for-tablet
                width: 100%
                margin-bottom: 5px
            @include for-phone
                width: 100%
                margin-top: 5px
        input[type=submit]
            width: 180px
            height: 38px
            font-size: 1.2rem
            background: #A2C73B
            border-radius: 5px
            border: none
            border-bottom: 3px solid #B6DB4F
            @extend %color-white
            @extend %cursor-pointer
            @extend %font-filson
            @include easeanimate(.1s)
            @include for-phone
                width: 100%
                margin-top: 5px
            @include for-tablet
                width: 100%       
            &:hover 
                @include brightness(105%) 
                @include easeanimate(.1s)
        @include for-phone-only
            background-position: top center
            padding: 80px 0 0
            text-align: center