@import 'variables.sass'
@import 'extends.sass'
@import 'mixins.sass'

html, body, .ui-widget
    font-family: Lato
    color: #606062
h2
    color: $cor-azul
    position: relative
    text-transform: uppercase
    font-size: 1.28rem
    font-weight: 300
    @extend %font-filson
    @extend %text-center
    @extend %cursor-default
    &:after, &:before
        content: ''
        width: 360px
        height: 1px
        background: #E6E7E8
        top: 50%
        position: absolute
        z-index: 1
    &:after
        right: 0
    &:before
        left: 0
    @include for-phone
        padding: 0 80px
        &:after, &:before
            width: 80px
    @include for-phone
        padding: 0 20px
        &:after, &:before
            width: 20px
    @include for-tablet
        &:after, &:before
            width: 180px
    @include for-tablet-landscape
        &:after, &:before
            width: 300px
h3
    color: $cor-azul
    font-size: .93rem
    font-weight: 900
    margin: 0
    @extend %cursor-default
h4
    font-size: 1.1rem
    font-weight: 400
    @extend %cursor-default
    @extend %color-white
    @include for-tablet-landscape
        font-size: .99rem
h5
    font-size: 1rem
    font-weight: 900
    @extend %cursor-default
    @extend %color-white
h6
    font-size: .9rem
    font-weight: 300
    color: #A9ABAE
    @extend %cursor-default
p
    @extend %cursor-default
img
    max-width: 100%
select, input, button, button:focus, #accordion h3
    outline: none
    font-family: Lato