@import 'variables'
@import 'extends'
@import 'mixins'

.breadcrumb
    color: $cor-verde
    margin-bottom: 60px
    @extend %cursor-default
    @include for-phone
        padding-left: 0
    .d-flex
        @include for-phone-only
            display: block !important
        .ordenacao
            @include for-phone-only
                margin-top: 10px
        .voltar
            background: #ffffff
            color: #A9ABAE
            padding: 5px 15px
            border: 1px solid #A9ABAE
            border-radius: 5px
            text-decoration: none
            @extend %text-uppercase
            span
                color: $cor-verde
                font-size: 25px
                line-height: 10px
                margin-left: 10px
    select                
        @include for-phone
            margin-left: 0
    p
        margin: 0
        a, span
            color: $cor-azul
            margin: 0 10px 0 8px
            display: inline-block
            font-weight: 800
        span
            font-weight: 400
        a:first-child
            margin-left: 0
    select
        color: $cor-azul
        min-width: 130px
        height: 34px
        padding-left: 5px
        font-size: 14px
    select, img
        border: 1px solid #cccccc
        border-radius: 5px
        margin-left: 3px

