@import 'variables'
@import 'extends'
@import 'mixins'

.mask
    display: none
    background: #000000
    width: 100%
    height: 100%
    position: fixed
    z-index: 9
    top: 0
    left: 0
    opacity: .6
    &.active
        display: block
.meu-carrinho
    background: #ffffff
    width: 600px
    height: 100%
    position: fixed
    z-index: 10
    top: 0
    right: -600px
    overflow: auto
    @include easeanimate(.2s)
    @include for-phone
        width: 575px
        right: -575px
    @include for-phone-only
        width: 100%
        right: -100%
    &.active
        @include easeanimate(.2s)
        right: 0
    .c-header
        background: #E0E1E2
        padding: 10px
        h3
            font-size: 17px
            font-weight: 400
        img
            @extend %cursor-pointer
    .c-segura
        background: $cor-verde
        @extend %text-center
        h3
            line-height: 44px
            font-weight: 500
            img
                margin-right: 10px
    .c-produto
        padding: 20px
        div
            margin: 0 20px
        & > img
            width: 180px
            @include for-phone-only
                width: 80px
        h3
            font-size: 15px
            margin-bottom: 5px
        .valor 
            color: $cor-azul
            font-size: 30px
            font-weight: 900
            @include for-phone-only
                font-size: 20px
    .c-valores
        padding: 0 20px
        text-align: right
        p
            font-size: 17px
            color: #727376
            @include for-phone-only
                font-size: 13px
    .c-frete div
        margin-left: 10px
        border: 1px solid #E6E7E8
        border-radius: 5px
        input[type=text]
            border: none
            width: 85px
            height: 33px
            line-height: 33px
            background: none
            font-size: 13px
            @extend %text-center
        input[type=button]
            width: 90px
            background: #E6E7E8
            color: $cor-azul
            height: 33px
            line-height: 33px
            border: none
            font-weight: 700
            @extend %cursor-pointer
        img
            background: $cor-azul-claro
            padding: 11px 6px 10px
            border-radius: 0 5px 5px 0
    .c-botoes
        margin-top: 15px
        input
            width: 200px
            height: 35px
            border: 1px solid #E6E7E8
            border-radius: 5px
            color: #ffffff
            @extend %cursor-pointer
            @extend %text-uppercase
            @include for-phone-only
                width: 140px
                font-size: 13px
            &.btn-verde
                background: $cor-verde
                @include easeanimate(.2s)
                &:hover
                    @include easeanimate(.2s)
                    @include brightness(105%)
    p
        color: #A9ABAE
        font-size: 13px
        margin-bottom: 5px
        @include for-phone-only
            margin-bottom: 2px
    hr
        margin: 12px 0
        @include for-phone-only
            margin: 5px 0
