@import 'variables'
@import 'extends'
@import 'mixins'
    
.titulo-categoria
    background: url(../img/banner/3.jpg) no-repeat center
    height: 180px
    h1
        line-height: 180px
        text-indent: 250px
        color: $cor-verde
        @extend %font-filson
        @extend %text-uppercase
        @extend %cursor-default
        @include for-tablet-landscape
            text-indent: 150px
        @include for-tablet
            text-indent: 10px
        @include for-phone
            text-indent: 0
            font-size: 30px
            text-align: center
