@import 'variables.sass'
@import 'extends.sass'
@import 'mixins.sass'

.categorias
    a
        width: 100%
        height: 131px
        background: url(../img/categorias/bg.png) no-repeat center
        color: $cor-verde
        font-size: 2rem
        border-radius: 10px
        padding: 0 20px 0 160px
        margin: 20px 0 0
        @extend %font-filson
        @extend %text-center
        @include for-tablet-landscape
            font-size: 1.5rem
            padding-left: 140px
        @include for-tablet
            font-size: 1.3rem
            padding-left: 100px
        @include for-phone-only
            font-size: 1.3rem
            padding-left: 120px