@import 'variables'
@import 'extends'
@import 'mixins'

.contato
    form
        border: 1px solid #cccccc
        border-radius: 10px
        padding: 20px
        margin-top: 20px
        input[type=text]
            width: 100%
            height: 60px
            line-height: 60px
            padding-left: 40px
            border: none
            border-bottom: 1px solid #cccccc
            &.email
                background: url(../img/fale/4.jpg) no-repeat 10px center
            &.nome
                background: url(../img/fale/5.jpg) no-repeat 10px center
            &.assunto
                background: url(../img/fale/6.jpg) no-repeat 10px center
            &.mensagem
                background: url(../img/fale/7.jpg) no-repeat 10px center
        input[type=submit]
            width: 215px
            height: 60px
            border: none
            background: #A2C73B
            border-radius: 5px
            margin-top: 20px
            float: right
            @extend %color-white
            @extend %cursor-pointer
            @include easeanimate(.2s)
            &:hover
                @include brightness(105%)
                @include easeanimate(.2s)
    h3
        font-size: 28px
        @extend %font-filson
    p
        margin: 0
        font-size: 13px
    img
        margin-right: 10px
    .row.align-items-center.justify-content-around
        & > div
            margin: 15px
        @include for-phone
            display: block