@import 'variables'
@import 'extends'
@import 'mixins'

.conteudo
    h3
        font-size: 30px
        margin-bottom: 20px

.banner-interno, .mais-vendidos, .lancamentos, .categorias, .bar2, .combo, .conteudo, .contato, .info-produtos, .pensamento
    margin-top: 60px
.combo
    @include for-phone
        text-align: center
