@import 'variables.sass'
@import 'extends.sass'
    
.copy
    background: #f0f0f0
    padding: 20px 0
    p
        margin: 5px 0
        font-size: .8rem
        color: $cor-cinza
        @extend %text-center
        @extend %cursor-default
