@import 'extends'
@import 'mixins'
@import 'variables'

.duvidas
    padding-top: 60px
    background: url(../img/banner/5.jpg) repeat-x top center
    h2
        @extend %color-white
    form
        margin-top: 60px
        background: #ffffff
        border: 1px solid #D2D3D5
        border-radius: 10px
        padding: 18px 30px 30px
        @include for-phone
            display: block !important
        input[type=text]
            width: 100%
            height: 60px
            line-height: 60px
            padding-left: 50px
            border: none
            border-bottom: 1px solid #cccccc
            font-size: 20px
            &.pergunta
                background: url(../img/pergunta.jpg) no-repeat 10px center
        input.btn-azul
            width: 150px
            height: 35px
            background: $cor-azul
            border: none
            border-radius: 5px
            font-size: 13px
            margin-left: 10px
            @extend %cursor-pointer
            @extend %color-white
            @extend %text-uppercase
            @include for-phone
                width: 100%
                margin: 10px 0 0
    #accordion
        margin-top: 60px
        h3
            font-size: 20px
            color: #606062
            background: none
            border: none
        .ui-accordion-content
            font-size: 15px
            border: none
            color: #848688
        .ui-icon-triangle-1-e
            background: url(../img/arrow-right.jpg) no-repeat center
            margin-right: 10px
        .ui-icon-triangle-1-s
            background: url(../img/arrow.jpg) no-repeat center
            margin-right: 10px