@import 'variables'
@import 'extends'
@import 'mixins'

.estilo
    background: #9ACB57
    padding: 35px 0
    @extend %text-center
    .d-flex
        @include for-phone
            display: block !important
            a
                margin: 20px
    h4
        font-size: 2.5rem
        margin: 0
        @extend %font-filson
        @extend %color-white
        @include for-tablet
            font-size: 1.8rem
    a
        font-size: 0.9rem
        display: inline-block
        @extend %color-white
        @extend %text-center
        &:last-child
            color: $cor-azul
        @include for-tablet
            font-size: 0.7rem
        img
            display: block
            margin: 0 auto 10px
            @include for-tablet
                width: 50px