%font-filson
    font-family: filson_softheavy
    
%text-center
    text-align: center
%text-uppercase
    text-transform: uppercase

%cursor-default
    cursor: default
%cursor-pointer
    cursor: pointer

%color-white
    color: #ffffff
