@import 'mixins.sass'
    
.faixa
    padding: 20px 0
    .row .d-flex
        margin: 0 20px
        @include for-tablet
            width: 300px
            margin: 10px 0
        @include for-phone
            width: 50%
            margin: 20px 0
        @include for-phone-only
            width: 90%
            margin-left: 10%
    p
        color: #A9ABAE
        font-size: .8rem
        margin: 0
    img
        margin: 0 10px 0 0