@font-face
    font-family: 'filson_softheavy'
    src: url('fonts/filsonsoftheavy-webfont.woff2') format('woff2'), url('fonts/filsonsoftheavy-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal