@import 'variables'
@import 'extends'
@import 'mixins'

footer
    padding: 35px 0 20px
    background: $cor-azul
    @extend %color-white
    h5
        @include for-tablet
        margin-top: 20px
    p
        margin: 5px 0 0
        font-size: .8rem
        a, a:hover
            font-size: .8rem
            @extend %color-white
            &:hover
    @include for-phone-only
        text-align: center
        