@import 'variables.sass'
@import 'extends.sass'
@import 'mixins.sass'

header
    background: #397BBF
    padding: 30px 0
    @include for-phone
        padding-top: 15px
    .logo        
        @include for-phone
            margin-bottom: 20px
            text-align: center
    form
        background: #ffffff
        border-radius: 50px
        width: 100%
        height: 48px
        input[type=text]
            color: $cor-cinza
            font-size: .8rem
            border: none
            background: none
            width: 380px
            height: 48px
            line-height: 48px
            @include for-tablet-landscape
                width: 310px
            @include for-tablet
                width: 200px
            @include for-phone
                width: 260px
            @include for-phone-only
                width: 220px
    .carrinho
        width: 100%
        height: 48px
        line-height: 48px
        display: block
        border: 1px solid #A2C73B
        border-radius: 50px
        background: url(../img/carrinho.png) no-repeat 20px center
        padding-left: 50px
        font-size: .8rem
        font-weight: 600
        @extend %color-white
        @include for-phone
            float: right
            width: 110px
            justify-content: flex-end !important
        @include for-phone-only
            float: none
            width: 100%
            margin-top: 10px
            justify-content: space-between !important
        @include for-tablet
            float: right
            width: 110px
            justify-content: flex-end !important
        @include for-tablet-landscape
            background-position: 15px center
            padding-left: 45px
        span
            @extend %color-white
            @extend %cursor-pointer
            @include for-tablet
                display: none
            @include for-phone
                display: none
            @include for-phone-only
                display: block
        strong
            display: block
            background: #A2C73B
            border-radius: 0 50px 50px 0
            min-width: 50px
            position: relative
            @extend %color-white
            @extend %cursor-pointer
            @extend %text-center
            &:after
                content: ''
                position: absolute
                z-index: 1
                top: 50%
                left: -10px
                margin-top: -5px
                border: 5px solid transparent
                border-right-color: #A2C73B

.h-checkout
    background: $cor-azul-claro
    padding: 20px 0
    @include for-tablet
        .d-flex img
            max-height: 70px
            height: 70px
            min-height: 70px
            align-self: center
    @include for-phone
        .d-flex img
            max-height: 70px
            height: 70px
            min-height: 70px
            align-self: center
    .justify-content-end
        @include for-phone
            justify-content: center !important
            margin-top: 20px
    .opac
        opacity: .5
    img
        align-self: flex-start