@mixin for-phone-only
    @media (max-width: 575px)
        @content

@mixin for-phone
    @media (max-width: 767px)
        @content

@mixin for-tablet
    @media (min-width: 768px) and (max-width: 991px)
        @content

@mixin for-tablet-landscape
    @media (min-width: 992px) and (max-width: 1200px)
        @content

@mixin for-desktop
    @media (min-width: 1200px)
        @content

@mixin easeanimate($sec)
    -webkit-transition: all $sec ease-in-out
    -moz-transition: all $sec ease-in-out
    -o-transition: all $sec ease-in-out
    transition: all $sec ease-in-out

@mixin brightness($num)
    filter: brightness($num)
    -webkit-filter: brightness($num)
    -moz-filter: brightness($num)
    -o-filter: brightness($num)
    -ms-filter: brightness($num)