@import 'variables'
@import 'extends'
@import 'mixins'

.navbar
    background: #A2C73B
    @include for-phone
        padding-top: 0
    &>.container
        display: block
    .dropdown-menu
        background: #A2C73B
        .dropdown-item:hover
            color: $cor-verde !important
    .navbar-nav
        width: 100%
    .navbar-toggler
        width: 40px
        padding: 0
        line-height: 6px
        background: #ffffff
        font-size: 1px
        height: 31px
        @include for-tablet
            display: block
        .navbar-toggler-icon
            width: 13px
            height: 2px
            background: #A2C73B
            display: inline-block
            margin: 0
            padding: 0
    a
        font-weight: 900
        font-size: .8rem
        @extend %color-white
