@import 'variables'
@import 'extends'
@import 'mixins'

.passo
    background: $cor-verde
    padding: 60px 0
    min-height: calc(100vh - 137px)
    h2
        @extend %color-white
        margin-bottom: 30px
    p
        font-size: 16px
        @extend %text-center
        @extend %color-white
    form
        min-height: 200px
        margin-top: 60px
        background: #ffffff
        border: 1px solid #D2D3D5
        border-radius: 10px
        padding: 30px
        label
            display: block
            font-size: 13px
            @extend %cursor-default
        input[type=text]
            width: 100%
            height: 60px
            line-height: 60px
            padding-left: 50px
            border: none
            border-bottom: 1px solid #cccccc
            font-size: 20px
            &.email
                background: url(../img/email.png) no-repeat 10px center
            &.nome
                background: url(../img/nome.png) no-repeat 10px center
            &.valid
                background: url(../img/email-valid.png) no-repeat 10px center
        input.btn-verde
            width: 150px
            height: 35px
            background: $cor-verde
            border: none
            border-radius: 5px
            font-size: 13px
            margin-top: 10px
            float: right
            @extend %cursor-pointer
            @extend %color-white
            @extend %text-uppercase
    .compras
        min-height: 200px
        margin-top: 60px
        background: #ffffff
        border: 1px solid #D2D3D5
        border-radius: 10px
        padding: 30px 30px 20px
        h4
            color: $cor-verde
            font-weight: 600
            font-size: 14px
        h3
            background: url(../img/carrinho-azul.png) no-repeat left center
            padding-left: 35px
            line-height: 30px
        p
            color: #4B4B4D
            text-align: left
            font-size: 13px
            margin: 0
        p.nome-prod
            color: #A9ABAE
        .compra
            margin: 20px 0 10px  
            @include for-tablet
                display: block !important  
            img
                width: 70px
                align-self: center
                margin-right: 10px
                display: block
                @include for-tablet
                    margin: 0 auto 5px
        .info
            hr
                margin: 10px 0
            p
                margin: 3px 0
                display: flex
                align-items: center
                justify-content: space-between
            a.voltar
                display: block
                text-decoration: none
                color: $cor-azul
                font-size: 13px
                margin-top: 20px
.passo2
    form
        p
            color: #606062
            font-weight: 600
            text-align: left
        .email, .nome
            margin-bottom: 30px