@import 'variables'
@import 'extends'
@import 'mixins'

.pensamento
    min-height: 997px
    background: url(../img/banner/6.jpg) no-repeat center 70px
    @include for-phone-only
        background: url(../img/banner/7.jpg) no-repeat center 70px
    h2
        text-align: left
        font-size: 43px
        color: $cor-verde
        margin-bottom: 30px
        &:after, &:before
            display: none
        @include for-tablet-landscape
            font-size: 31px
        @include for-tablet
            font-size: 26px
        @include for-phone
            font-size: 20px
            margin-bottom: 10px
            padding: 0
        @include for-phone-only
            text-align: center
    h3
        font-size: 26px
        height: 125px
        @include for-tablet
            font-size: 20px
        @include for-phone
            font-size: 20px
    .item-1
        margin-top: 150px
        text-align: right
        @include for-tablet
            margin-top: 170px
        @include for-phone
            margin-top: 100px
        @include for-phone-only
            margin-top: 170px
            text-align: center
    .item-2
        margin-top: -100px
        @include for-tablet
            margin-top: -70px
        @include for-phone
            margin-top: 0
            padding-left: 30px
        @include for-phone-only
            margin-top: 50px
            text-align: center
    .item-3
        margin-top: 30px
        text-align: right
        @include for-tablet-landscape
            margin-top: 60px
        @include for-tablet
            margin-top: 20px
        @include for-phone
            margin-top: 30px
        @include for-phone-only
            margin-top: 50px
            text-align: center
    .item-1, .item-3
        text-align: right
        @include for-phone-only
            text-align: center
        h2
            text-align: right
            @include for-phone-only
                text-align: center
    p
        @extend %color-white
        font-size: 20px
        @include for-tablet-landscape
            font-size: 18px
        @include for-tablet
            font-size: 16px
        @include for-phone
            font-size: 14px