@import 'variables'
@import 'mixins'
@import 'extends'

.lista-produtos
    .filtros
        h2
            text-align: left
            padding: 0
            font-size: 25px
            &:before
                display: none
            &:after
                width: 100%
                top: 80%
                z-index: -1
            span
                background: #fff
                padding-right: 10px
        h5
            color: $cor-azul
            font-size: 20px 
            margin: 30px 0
            a
                color: $cor-azul
        #slider-range
            background: $cor-azul-claro
            border: none
            height: 5px
            border-radius: 0
            margin: 30px 0
            position: relative
            .ui-widget-header
                background: $cor-verde
            .ui-slider-handle.ui-state-default
                background: $cor-azul-claro
                border: none
                border-radius: 50px
                @extend %cursor-pointer
            .ui-slider-handle
                width: 30px
                height: 30px
                top: -12px
            .ui-state-focus
                outline: none
                border: none
        .valores
            #amount1, #amount2
                border: 2px solid $cor-azul-claro
                width: 100px
                color: #606062
                @extend %text-center
                @include for-tablet
                    width: 70px
                    font-size: 12px
            hr
                width: 20px
                height: 5px
                background: $cor-verde
        ul
            list-style: none
            padding: 0 0 0 20px
            @include for-tablet
                padding: 0 0 0 10px
            li
                margin: 5px 0
                a
                    color: #848688
                    &:hover, &.select
                        color: $cor-verde
    .lista-simples
        @include for-phone
            text-align: center
        .card-produto
            display: inline-block
            vertical-align: top
            width: 275px
            @include for-tablet-landscape
                width: 230px
            @include for-tablet
                width: 227px
            @include for-phone
                width: 227px
    .lista-interna
        @include for-phone
            text-align: center
        h2
            text-align: left
            padding: 0
            font-size: 25px
            &:before
                display: none
            &:after
                width: 100%
                top: 80%
                z-index: -1
            span
                background: #fff
                padding-right: 10px
        .card-produto
            display: inline-block
            vertical-align: top
            width: 272px
            @include for-tablet-landscape
                width: 227px
            @include for-tablet
                width: 227px
            @include for-phone
                width: 227px
            &.animate-img:hover .card-produto-img
                margin-left: -230px
                @include easeanimate(.2s)
                @include for-tablet-landscape
                    margin-left: -210px
                @include for-tablet
                    margin-left: -204px
                @include for-phone
                    margin-left: -204px
            .card-produto-img
                img
                    width: 230px
                    min-width: 230px
                    @include for-tablet-landscape
                        width: 210px
                        min-width: 210px
                    @include for-tablet
                        width: 207px
                        min-width: 207px
                    @include for-phone
                        width: 204px
                        min-width: 204px
    .card-produto
        overflow: hidden
        padding: 0 21.5px
        @extend %text-center
        @include for-tablet-landscape
            padding: 11.5px
        @include for-tablet
            padding: 11.5px
        @include for-phone
            padding: 11.5px
            width: 227px
            display: block
            margin: auto
        &.animate-img:hover .card-produto-img
            margin-left: -235px
            @include easeanimate(.2s)
            @include for-tablet-landscape
                margin-left: -210px
            @include for-tablet
                margin-left: -207px
            @include for-phone
                margin-left: -204px
        .card-produto-img
            display: flex
            white-space: nowrap
            overflow: hidden
            text-decoration: none
            @include easeanimate(.2s)
            img
                width: 235px
                min-width: 235px
                align-self: flex-start
                @include for-tablet-landscape
                    width: 210px
                    min-width: 210px
                @include for-tablet
                    width: 207px
                    min-width: 207px
                @include for-phone
                    width: 204px
                    min-width: 204px
        h3
            margin-bottom: 10px
            line-height: 20px
            a
                color: $cor-azul
                font-size: 16px
                text-decoration: none
                @extend %text-uppercase
        p.descricao
            color: #A9ABAE
            font-size: 13px
            @extend %text-uppercase
            margin: 0
        p.valor
            color: $cor-azul
            font-size: 30px
            font-weight: 900
            margin: 0
        hr
            width: 45px
            height: 5px
            background: #A2C73B
            border: none
            display: block
            margin: 10px auto 5px
            border-radius: 50px
.owl-carousel
    .owl-nav
        margin-top: 10px
        @extend %text-center
        button.owl-next, button.owl-prev
            width: 30px
            height: 30px
            margin: 5px
            line-height: 20px
            border: 1px solid #cccccc
            border-radius: 5px
            cursor: pointer
            &.disabled
                opacity: .5
                @extend %cursor-default
            span
                display: block
                font-size: 25px
                font-weight: bold
                color: #999999
                margin-top: -5px
.p-paginacao
    margin-top: 70px
    text-align: center
    a
        color: $cor-verde
        margin: 0 5px
        text-decoration: none
        &.pagina
            color: $cor-azul
        &.disabled
            color: $cor-verde-claro


.produto
    h1, .valor
        color: $cor-azul
        font-size: 30px
        font-weight: 900
        @extend %cursor-default
        @include for-phone
            font-size: 20px
    p
        color: #A9ABAE
        font-size: 13px
    hr
        width: 45px
        height: 5px
        background: $cor-verde
        border-radius: 50px
        margin: 10px 0 20px
    .quantidade
        border: 1px solid #E6E7E8
        border-radius: 5px
        margin-right: 20px
        span
            width: 40px
            height: 30px
            text-align: center
            display: inline-block
            font-size: 20px
            font-weight: bold
            @extend %cursor-pointer
            &.menos
                background: #E6E7E8
                color: $cor-azul
                border-radius: 5px 0 0 5px
            &.mais
                background: $cor-azul
                color: #E6E7E8
                border-radius: 0 5px 5px 0
        input
            width: 40px
            height: 30px
            line-height: 30px
            border: none
            @extend %text-center
    button
        background: $cor-verde
        border: 1px solid #E6E7E8
        color: #ffffff
        border-radius: 5px
        height: 32px
        padding: 0 20px
        font-size: 13px
        @extend %cursor-pointer
        @extend %text-uppercase
        @include for-phone
            padding: 0 10px

.info-produtos
    background: url(../img/banner/4.jpg) repeat top center
    padding: 40px 0
    color: #ffffff
    .ui-widget.ui-widget-content, .ui-tabs .ui-tabs-nav
        background: none
        border: none
        font-family: Lato
        li
            background: none
            border: none
            text-align: center
            color: #ffffff
            border-bottom: 3px solid #ffffff
            text-align: center
            @include for-phone
                width: 100%
            &.ui-tabs-active
                border-color: $cor-azul
                a
                    color: $cor-azul
            a
                color: #ffffff
                font-size: 20px
                font-weight: bold
                @include for-tablet
                    font-size: 15px
                @include for-phone
                    font-size: 15px
                    display: block
                    width: 100%
                    text-align: left
        p
            color:#fff
            margin: 0 0 10px
            font-size: 14px
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor
        padding: .5em 2em
        @include for-tablet-landscape
            padding: .5em
        @include for-tablet
            padding: .5em
        @include for-phone
            padding: .5em 0