@import 'variables'
@import 'extends'
@import 'mixins'
    
.titulo-interno
    background: #154F82
    padding: 25px 0 0
    h1, span
        font-weight: 900
        font-size: 28px
        @extend %font-filson
        @extend %cursor-default
    h1
        background: url(../img/titulo-interno.png) no-repeat left center
        padding: 22px 0 0 65px
        min-height: 50px
        margin-bottom: 0
        line-height: 26px
        color: $cor-verde
    span
        @extend %color-white